{% macro requestSupportPageHref(page='') %}
  {% set prodLink = "https://www.get-help-buying-for-schools.service.gov.uk/procurement-support?referred_by=" %}
  {% set stagingLink = "https://staging-get-help-buying-for-schools.education.gov.uk/procurement-support?referred_by=" %}

  {{ (prodLink if docStatus == "LIVE" else stagingLink) + ((page + " " + currentUrl) | base64Encode) }}
{% endmacro %}

{% macro fafLink(optionalClass='', page='') %}
  <div {% if optionalClass %}
  class = {{optionalClass}}
  {% endif %}
  >
    <a href={{ requestSupportPageHref(page=page) }} class="govuk-link" target="_blank">
      Request advice and guidance
    </a>
  </div>
{% endmacro %}
