{% macro requestSupportPageHref(page='') %}
  {% set prodLink = "https://www.get-help-buying-for-schools.service.gov.uk/procurement-support?referred_by=" %}
  {% set stagingLink = "https://staging-get-help-buying-for-schools.education.gov.uk/procurement-support?referred_by=" %}

  {{ (prodLink if docStatus == "LIVE" else stagingLink) + ((page + " " + currentUrl) | base64Encode) }}
{% endmacro %}

{% macro renderGHBSLink(page='') %}
  <div class="govuk-inset-text">
    The DfE <a href="{{ requestSupportPageHref(page=page) }}">Get help buying for schools</a> will help you prepare and research before buying to help you get the best deal and save money.
  </div>
{% endmacro %}
