{% macro requestSupportPageHref(page='') %}
  {% set prodLink = "https://www.get-help-buying-for-schools.service.gov.uk/procurement-support?referred_by=" %}
  {% set stagingLink = "https://staging-get-help-buying-for-schools.education.gov.uk/procurement-support?referred_by=" %}

  {{ (prodLink if docStatus == "LIVE" else stagingLink) + ((page + " " + currentUrl) | base64Encode) }}
{% endmacro %}

{% macro renderGHBSLink(page='') %}
  <div class="govuk-inset-text">
    Use the <a href="{{ requestSupportPageHref(page=page) }}" class="govuk-link">Get help buying for schools service</a> to get free help and support with buying goods and services.
  </div>
{% endmacro %}
