<h2 class="govuk-heading-s">
  Related content
</h2>
<ul class="govuk-list govuk-!-font-size-16">
  <li>
    <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools">
      Buying for schools guidance
    </a>
  </li>
</ul>
<ul class="govuk-list govuk-!-font-size-16">
  <li>
    <a class="govuk-link" href="https://buyingforschools.blog.gov.uk/2024/11/19/update-for-schools-and-trusts-on-procurement-act-2023-are-you-ready/" target="_blank">
      Register for e-learning and information about the new Procurement Act 2023
    </a>
  </li>
</ul>