<h2 class="govuk-heading-s">
  Related content
</h2>
<ul class="govuk-list govuk-!-font-size-16">
  <li>
    <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools">
      Buying for schools guidance
    </a>
  </li>
</ul>