{% from "details/macro.njk" import govukDetails %}
{{ govukDetails({
  summaryText: "Help with meter types",
  html: "<p>Find out which meter you have by checking the MPAN number. This is on your energy bill.</p><img src='/assets/images/mpan-example.png' alt='Example of energy bill with MPAN highlighted' class='govuk-!-margin-bottom-3'><p>The first two numbers after the S show which meter you have. If it&rsquo;s 00, it&rsquo;s a half hourly meter, any other number means it&rsquo;s a non-half hourly meter.</p>"
}) }}