{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "footer/macro.njk" import govukFooter %}

{% extends "template.njk" %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="/assets/styles/main.css">
{% endblock %}

{% block pageTitle %}{{ pageTitle }} - {{ locals.serviceName }} - GOV.UK{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block header %}

  <div id="global-cookie-message" class="cookie-banner govuk-clearfix" style="display: none;" role="region" aria-label="cookie banner">
      <div class="cookie-banner__wrapper govuk-width-container">
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                  <div class="cookie-banner__message">
                      <h2 class="govuk-heading-m">Cookies on {{ locals.serviceName }}</h2>
                      <p class="govuk-body">We use some essential cookies to make this website work.</p>
                      <p class="govuk-body">We’d like to set additional <a class="govuk-link" href="/cookies">cookies</a> to help us improve this service.</p>
                  </div>
                  <div class="cookie-banner__buttons">
                      <button type="submit" class="button govuk-button button--inline js-accept-all-cookies">
                          Accept all cookies
                      </button>                      
                      <button type="submit" class="button govuk-button button--inline js-reject-all-cookies">
                          Reject all cookies
                      </button>
                  </div>
              </div>
          </div>
      </div>
      <div class="cookie-banner__confirmation govuk-width-container" style="display: none;">
          <p class="govuk-body" role="alert">
              You’ve accepted all <a class="govuk-link" href="/cookies">cookies</a>.
          </p>
          <button class="button govuk-button button--inline js-cookie-hide">Hide</button>
      </div>
  </div>

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school"  
  }) }}

  {% if locals.db.docStatus === 'LIVE' %}
    <span class="docstatus docstatus--live" aria-hidden="true">{{ locals.db.docStatus }}</span>
  {% else %}
    <span class="docstatus">{{ locals.db.docStatus }}</span>
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="mailto:schools.digital@education.gov.uk?subject=Feedback:%20Find%20a DfE%20approved%20framework%20for%20your%20school">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/all.js"></script>
  <script src="/assets/frameworks.js" id="mainscript"></script>
  <!-- Google Tag Manager -->
  <script>  
    (function(w,d,s,l,i){
      window.setGA = function(){
        w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      };

      if (window.cookie_consent) {
        setGA();
      }
    })(window,document,'script','dataLayer','GTM-N7JPPRB');
  </script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7JPPRB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}