{% from "cookie-banner/macro.njk" import govukCookieBanner %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "footer/macro.njk" import govukFooter %}
{% from "macros/ghbs-link.njk" import requestSupportPageHref %}
{% from "macros/ghbs-feedback-link.njk" import ghbsFeedbackHref %}

{% extends "template.njk" %}

{% block head %}
  {% if locals.db.docStatus === 'LIVE' and cookieAccepted %}
    <!-- Google tag (gtag.js) --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KVZ65JKFY6"></script> 
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-KVZ65JKFY6'); </script>
  {% endif %} 
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="/assets/styles/main.css">
{% endblock %}

{% block pageTitle %}{{ pageTitle }} - {{ locals.serviceName }} - GOV.UK{% endblock %}

{% block bodyStart %}

{% set cookieHtml %}
  <p>We use some essential cookies to make this service work.</p>
  <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{% set acceptHtml %}
  <p>You’ve accepted analytics cookies. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectHtml %}
  <p>You’ve rejected analytics cookies. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on " + locals.serviceName,
  classes: "js-cookie-banner",
  hidden: true,
  messages: [
    {
      headingText: "Cookies on " + locals.serviceName,
      html: cookieHtml,
      classes: "js-cookie-ask",
      actions: [
        {
          classes: "js-accept-all-cookies",
          text: "Accept analytics cookies",
          type: "button"
        },
        {
          classes: "js-reject-all-cookies",
          text: "Reject analytics cookies",
          type: "button"
        },
        {
          text: "View cookies",
          href: "/cookies"
        }
      ]
    },
    {
      html: acceptHtml,
      classes: "js-cookies-accepted",
      role: "alert",
      hidden: true,
      actions: [
        {
          classes: "js-hide-cookie-banner",
          text: "Hide this message"
        }
      ]
    },
    {
      html: rejectHtml,
      classes: "js-cookies-rejected",
      role: "alert",
      hidden: true,
      actions: [
        {
          classes: "js-hide-cookie-banner",
          text: "Hide this message"
        }
      ]
    }
  ]
}) }}

{% endblock %}

{% block header %}

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school"
  }) }}

  {% if locals.db.docStatus === 'LIVE' %}
    <span class="docstatus docstatus--live" aria-hidden="true">{{ locals.db.docStatus }}</span>
  {% else %}
    <span class="docstatus">{{ locals.db.docStatus }}</span>
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: "This is a new service – your <a class='govuk-link' href='" + ghbsFeedbackHref() + "'>feedback</a> will help us to improve it."
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: requestSupportPageHref(page='Page footer'),
          text: "Request advice and guidance",
          attributes: {
            target: "_blank"
          }
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/all.js"></script>
  <script src="/assets/frameworks.js" id="mainscript"></script>
{% endblock %}

