{% extends "buying-for-schools.njk" %}
{% import "macros/results.njk" as results %}
{% from "macros/ghbs-link.njk" import renderGHBSLink %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">DfE approved</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">All frameworks</h1>

    <p class="govuk-body">
      This is a list of all DfE approved framework agreements. Use one to ensure your procurement is compliant.
    </p>

    <p class="govuk-body">
      We'll continue to review and update this list.
    </p>

    <p class="govuk-body">
      If you need to narrow down your options, you can use the <a href="/">find a framework tool.</a>
    </p>

    <div class="govuk-inset-text">
      If you cannot find a framework agreement that matches your needs,
      or you need advice during your procurement,
      get free help and support from the <a href="{{ requestSupportPageHref(page='All frameworks page') }}" class="govuk-link">Get help buying for schools service</a>.
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="app-related-items--small">
      <nav role="navigation" aria-label="Pages in this guide">
        <h2 class="govuk-body-s govuk-!-margin-bottom-0">Contents</h2>

        <ol class="govuk-list govuk-list--dash">
          {% for group in grouped %}
            <li>
              <a class="govuk-body-s govuk-link" href="#category-{{ group.ref }}">{{ group.title }}</a>
            </li>
          {% endfor %}
        </ol>
      </nav>
    </div>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="related-main-content">
      {% for group in grouped %}
        <h2 class="govuk-heading-m" id="category-{{ group.ref }}">{{ group.title }}</h2>
        <table class="govuk-table">
          {% for item in group.items %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="/list/{{ item.ref }}" class="govuk-link" id="{{ item.ref }}">{{ item.title }}</a>
                <p class="govuk-body-s govuk-!-margin-bottom-1">{{ item.descr }}</p>
                {% if item.expiry %}<p class="govuk-body-xs govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">Expires: {{ item.expiry }}</p>{% endif %}
              </td>
              <td class="govuk-table__cell govuk-table__cell--supplier">{{ item.supplier }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endfor %}

      {{ govukButton({
        text: "Find a framework",
        href: "/",
        classes: "govuk-button--start govuk-!-margin-top-2"
      }) }}

    </div>
  </div>
</div>

{% endblock %}
