{% extends "buying-for-schools.njk" %}
{% from "macros/ghbs-link.njk" import renderGHBSLink %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Matching frameworks</h1>
    <p class="govuk-body-l">Based on your answers, there are multiple approved frameworks to choose from.</p>

    {{ renderGHBSLink(page="Framework outcome page") }}

    <ul class="govuk-list">
      {% for item in resultList %}
        <li>
          <div class="card">
            <div class="card__header">
              <span>Framework name:</span><br>
              <div class="card__title">
                <a class="govuk-link" href="{{ item.url }}">{{ item.title }}</a>
              </div>
            </div>
            <div class="card__content">
              <span>Provider:</span>
              <div>{{ item.supplier }}</div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% include "summary.njk" %}
  </div>
</div>

{% endblock %}
