{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% block recommendation %}
      <span class="govuk-caption-l">Your recommendation</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3" id="resulttitle">{{ title }}</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the {{ providerFull }} framework.</p>
    {% endblock %}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-markdown">
      {{ body | safe }}
    </div>

    <p class="govuk-body">All frameworks also offer:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>compliance with the relevant procurement regulations</li>
      <li>suppliers pre-checked by the approved framework provider</li>
      <li>pre-agreed terms and conditions</li>
    </ul>

    {{ results.button(providerShort, url) }}


    {% include "summary.njk" %}
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items app-related-items--small" role="complementary">
      {% include "includes/framework-aside.njk" %}

      {% if (links.length) %}
        <h3 class="govuk-body-s">Explore the topic</h3>
        <ul class="govuk-list govuk-!-font-size-16">
          {% for link in links %}
            <li>
              <a href="{{ link.url }}" class="govuk-link">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </aside>
  </div>

</div>

{% endblock %}