{% from "macros/ghbs-link.njk" import ghbsLink %}

<div class="govuk-inset-text">
  The DfE <a href="{{ ghbsLink.requestSupportPageHref() }}">Get help buying for schools</a> will help you prepare and research before buying to help you get the best deal and save money.
</div>
