{% extends "buying-for-schools.njk" %}
{% from "macros/ghbs-link.njk" import renderGHBSLink %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">After you’ve used the service</h1>

      {{ renderGHBSLink(page="Interruption page") }}

      <p class="govuk-body">When you&rsquo;ve answered the relevant questions, you&rsquo;ll be given the most suitable framework based on your answers. This will point you to the providers&rsquo; website where you can get quotes from suppliers on the framework.</p>

      {{ govukButton({ text: 'Continue', href: locals.frameworkPath }) }}
    </div>
  </div>
{% endblock %}
