{% extends "buying-for-schools.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if err %}
      {{ govukErrorSummary(err) }}
    {% endif %}

    {% if result %}
      <h2>{{ result }}</h2>
    {% else %}  
      <form>
        {{ prefix }}
        {{ govukRadios(radioOptions) }}
        {{ suffix | safe }}
        {{ govukButton({ text: 'Continue', type: 'submit'}) }}
      </form>
    {% endif %}

    {% include "summary.njk" %}
  </div>
</div>
{% endblock %}