{% extends "buying-for-schools.njk" %}
{% import "macros/userJourneyFunnel.njk" as userJourneyFunnel %}

{% block content %}
<div class="govuk-grid-row" data-funnel-step={{ userJourneyFunnel.questionStep(radioOptions) }}>
  <div class="govuk-grid-column-two-thirds">
    {% if err %}
      {{ govukErrorSummary(err) }}
    {% endif %}

    {% if result %}
      <h2>{{ result }}</h2>
    {% else %}
      <form action="{{ currentUrl }}">
        {{ prefix }}
        {{ govukRadios(radioOptions) }}
        {{ suffix | safe }}
        {{ govukButton({ text: 'Continue', type: 'submit'}) }}
      </form>
    {% endif %}

    {% include "summary.njk" %}
  </div>
</div>
{% endblock %}
